<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name + " " + @user.last_name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/keywords' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.keywords.any? %>
      <h3>Newsタイムライン</h3>
      <% @userkeywords.each do |uk| %>
      <ol class="microposts">
        <%= render @news %>
      </ol>
      <%= will_paginate @news %>
      <% end %>
    <% end %>
  </div>
</div>