<% provide(:title, current_user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.first_name + " " + current_user.last_name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/keywords' %>
    </section>
  </aside>

  <div class="col-md-8">
    <% if current_user.keywords.any? %>
      <h3>Newsタイムライン</h3>
      <%= will_paginate @news %>
      <% @news.each do |news| %>
      <ol class="microposts">
        <%= render news %>
      </ol>
      <% end %>
      <div class="clear">
      </div>
      <%= will_paginate @news %>
    <% end %>
  </div>
</div>